.button {
    background-color: rgba(255, 255, 255, 0.6);
    will-change: auto;
    transition: all ease .5s;
}

.button--active {
    background-color: white;
    width: 1.2rem !important;
}

@media (max-width:768px) {
    .button--active {
        background-color: var(--green-color) !important;
    }
}



.button__svg {
    width: 28px;
    height: 28px;
    fill: white;
    will-change: fill;
    transition: fill ease .3s;
}

.button__svg:hover {
    fill: var(--green-color)
}