.contact-form{
    border: 1px solid var(--border-color);
    border-radius: 12px;
}
.contact-form__submit{
    border-radius: 12px;
    height: 50px;
    color: var(--color);
    background-color: var(--green-color);
    will-change: background-color;
    transition: background-color 400ms ease-in-out;
}
.contact-form__submit:hover{
    background-color: var(--border-color);
}
@media (width <= 650px) {
    .contact-form__submit{
        font-size: calc(1vw + 10px);
    }
}