footer{
    background-color: var(--border-color);
}
.footer__text{
    font-size: 15px;
    color: var(--gray-color);
    will-change: color;
    transition: color 400ms ease-in-out;
}
.footer__link:hover{
    color: var(--green-color);
}