.song__rank__number {
    font-size: 22px;
    color: var(--gray-color);
}

.song__rank__icon {
    width: 20px;
}

.song__rank__icon--success {
    fill: var(--green-color);
}

.song__rank__icon--fail {
    fill: #eb5757;
}

.song__rank__icon__number {
    font-size: 14px;
    color: var(--gray-color);
}

.song__button {
    min-width: 48px;
    min-height: 48px;
    background-color: #222227;
}

.song__img__icon {
    width: 24px;
    position: relative;
    z-index: 5;
    opacity: 0;
    fill: white;
    will-change: auto;
    transition: all ease-in .3s;
}

.song__img__icon:hover {
    fill: var(--green-color);
}

.song__name {
    font-size: 16px;
    line-height: 24px;
    will-change: color;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    transition: color ease-in .3s;
    word-break: break-all;
    text-transform: capitalize;
    white-space: break-spaces;
}

.song__singer {
    font-size: 14px;
    text-transform: capitalize;
    will-change: color;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: var(--gray-color);
    transition: color ease-in .3s;
    word-break: break-all;
    white-space: break-spaces;
}

.song__singer:hover {
    color: var(--green-color);
}

.song__name:hover {
    color: var(--green-color);
}

.song__time--seconds {
    font-size: 13px;
    color: var(--gray-color);
}

.song__add {
    width: 32px;
    height: 32px;
    background: rgba(37, 165, 106, 0.15);
    will-change: background;
    transition: background ease-in .3s;
}

.song__add:hover {
    background: rgba(37, 165, 106, 0.3);
}

.song__download {
    width: 32px;
    height: 32px;
    background: rgba(128, 81, 212, 0.15);
    will-change: background;
    transition: background ease-in .3s;
}

.song__download:hover {
    background: rgba(128, 81, 212, 0.3);
}

.song:hover .song__img {
    opacity: .35;
}

.song:hover .song__img__icon {
    opacity: 1;
}

.song__img {
    will-change: opacity;
    transition: opacity ease-in .3s;
}

.song__time--live {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    padding: 0 12px;
    background-color: #eb5757;
    border-radius: 8px;
    font-size: 12px;
}