.pages {
    margin-left: 18rem !important;
    margin-top: 0 !important;
}
@media (max-width: 1280px) {
    .pages--mobile {
        margin-left: 0 !important;
        margin-top: 70px !important;
    }
}