.products__items{

    border-radius: 12px;
    padding: 20px;
    background-color: var(--border-color) !important;
}
.products__items--active .products__items__footer__new{
    display: block;
}
.products__items__header{
    border-radius: 12px;
}
.products__items__header:hover .products__items__header__play{
    opacity: 1;
    scale: 1;
    left: 50%;
    top: 50%;
}
.products__items__header__play{
    transform-origin: center center;
    top: 48%;
    left: 48%;
    transform: translate(-50% , -50%);
    transform-origin: center;
    min-width:56px;
    height: 56px;
    border-radius: 12px;
    background-color: var(--background);
    transition: all 300ms ease-in-out;
    opacity: 0;
    scale: .8;
}
.products__items__header__play:hover .products__items__header__play__icon{
    fill: var(--green-color);
}
.products__items__header__play__icon{
    will-change: fill;
    transition: fill 400ms ease-in-out;
    width: 24px;
    height: 24px;
    fill: var(--color);
}

.products__items__footer__name{
    color: var(--color);
    will-change: color;
    transition: color 400ms ease-in-out;
    text-overflow: ellipsis;
    white-space: nowrap !important;
}
.products__items__footer__name:hover{
    color: var(--green-color);
}
.products__items__footer__price{
    font-size: 14px;
    color: var(--gray-color);
    font-weight: 500;
}
.products__items__footer__new{
    display: none;
    color: #eb5757;
    font-weight: 500;
}
@media (0 <= width <= 650px){
    .products__items__footer__name{
        font-size: calc(1vw + 9px);
    }
    .products__items__footer__price{
        font-size: calc(1vw + 7px);
    }
    .products__items{
        padding: 0;
    }
    .products__items__footer{
        padding: 0 calc(1vw + 8px);
        padding-bottom: calc(1vw + 8px);
    }
    .products__items__footer__new{
        font-size: calc(1vw + 8px);
        right: 10px !important;
        bottom: calc(1vw + 8px) !important;
    }
}