.Header-nav__left{
    position: absolute;
    left: 316px !important;
}

.Header-nav__links a{
    color: var(--gray-color);
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 400;
}
.Header-nav__links a:hover{
    color: var(--green-color);
    will-change: color;
    transition: color 400ms ease-in-out;
}

.Header-nav__controler__links__icon{
    height: 22px;
    width: 22px;
    fill: var(--gray-color) !important;
}
