.sidebar {
    border: 1px solid var(--border-color);
    position: fixed;
    top: 0;
    width: 18rem;
    height: 100vh;
    will-change: transform;
    transition: transform ease-in .3s;
    transform: 0%;
    z-index: 10000;
    background-color: var(--background);
}

.sidebar__nav::-webkit-scrollbar {
    width: 10px;
}

.sidebar__nav::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.sidebar__nav::-webkit-scrollbar-thumb {
    background: #bbb9b9;
    border-radius: 9px;
}

.sidebar__header {
    border-bottom: 1px solid var(--border-color);
    height: 4.5rem;
}

.sidebar__header__image {
    max-width: 6rem;
}

.sidebar__nav {
    height: calc(100vh - 334px);
}

.sidebar__nav__link__icon--active {
    fill: #25a56a !important;
}

.sidebar__nav__link__icon {
    fill: #c0c0c0;
    width: 22px;
    height: auto;
    margin-bottom: 2px;
    will-change: fill;
    transition: fill ease-in .2s;
}

.sidebar__nav__link__text--active {
    color: white !important;
}

.sidebar__nav__link__text {
    color: #c0c0c0;
    font-size: medium;
    will-change: color;
    transition: color ease-in .1s;
}

.sidebar__nav__link:hover .sidebar__nav__link__icon {
    fill: #25a56a;
}

.sidebar__nav__link:hover .sidebar__nav__link__text {
    color: white;
}

.sidebar__nav__link__badge {
    background-color: #2f80ed;
    font-size: 10px;
    top: -5px;
}