.Header-nav{
    color: #fff;
    height: 72px;
    border-bottom: .1px solid var(--border-color);
    background-color: var(--background);
}


.Header-nav__box--xl{
    width: 100vw ;
}

.Header-nav__left{
    position: absolute;
    left: 316px !important;
}

@media (200px <= width <= 1280px ) {
    .Header-nav__left--action{
        width: 100vw;
        left: 0px !important;
    }
}
@media (800px <= width <= 1280px ){
    .Header-nav__left__inputbox--resize{
        /* width: 90% !important; */
        left: 40px;
    }
    .Header-nav__searech{
        width: 86vw !important;
    }
}
@media (550px <= width <= 800px ){
    .Header-nav__left__inputbox--resize{
        /* width: 90% !important; */
        left: 10px;
    }
    .Header-nav__searech{
        width: 86vw !important;
    }
}
@media (250px <= width <= 550px ){
    .Header-nav__controler__links{
        border: none !important;
        padding-right: 7px !important;
    }
    .Header-nav__controler{
        margin: 0;
    }
    .Header-nav__controler__signin{
        display: none !important;
    }
    .Header-nav__controler__links__drop{
        display: none;
    }
    .Header-nav__left__inputbox--resize{
        /* width: 90% !important; */
        left: 10px;
    }
    .Header-nav__searech{
        width: 76vw !important;
    }
}

.Header-nav__links a{
    color: var(--gray-color);
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 400;
}
.Header-nav__links a:hover{
    color: var(--green-color);
    will-change: color;
    transition: color 400ms ease-in-out;
}


.Header-nav__searech{
    width: 320px;
    background-color: #222227;
    border-radius: 12px;
    will-change: width;
    transition: width 100ms ease-in-out ;
}
.Header-nav__searech input{
    background-color: transparent;
    outline: none;
}
.Header-nav__searech input::placeholder{
    color: var(--gray-color);
}
.Header-nav__searech svg{
    fill: var(--color);
    height: 20px !important;
    width: 20px !important;
}


.Header-nav__controler{
    margin-left: 6%;
}
/* Header-nav__controler__links */
.Header-nav__controler__links{
    border-right: 1px solid;
    border-color: #353535;
}
.Header-nav__controler__links a{
    position: relative;
}
.Header-nav__controler__links__count{
    position: absolute;
    top: -5px;
    right: -6px;
    font-size: 10px;
    min-width: 16px;
    height: 16px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
}
.Header-nav__controler__links__count--shop{
    background-color: var(--green-color);
}
.Header-nav__controler__links__count--message{
    background-color: #2f80ed;
}
.Header-nav__controler__links__icon{
    height: 22px;
    width: 22px;
    fill: var(--gray-color) !important;
}



.Header-nav__controler__links__drop:hover .Header-nav__controler__links--dropdown{
    opacity: 1;
    z-index: 4 !important;
    transform: translateY(10px);
    pointer-events: auto;
}

.Header-nav__controler__links--dropdown{
    pointer-events: none;
    z-index: -2;
    opacity: 0;
    border-radius: 15px;
    position: absolute;
    transform: translateY(4px);
    transition: all 200ms ease-in-out;
    right: -20px;
    background-color: var(--border-color);
    width: 280px;
}
.Header-nav__controler__links--dropdown__header{
    background-color:rgba(255, 255, 255, 0.1);
    border-radius: 8px 8px 0 0;
    color: var(--gray-color);
    padding: 2px 0;
    font-size: 13px;
    transition: color 300ms ease-in-out;
}
.Header-nav__controler__links--dropdown__header:hover{
    color: var(--green-color);
}
.Header-nav__controler__links--dropdown__body li{
    padding: 10px 0;
    border-bottom: 0.5px solid #3d3d45;
}
.Header-nav__controler__links--dropdown__body li:last-child{
    border-bottom: none;
}
.Header-nav__controler__links--dropdown__body__time{
    font-size: 10px;
    font-weight: 500;
    color: var(--gray-color);
}
.Header-nav__controler__links--dropdown__body__icon{
    margin-right: 6px;
    width: 18px;
    height: auto;
}
.Header-nav__controler__links--dropdown__body__text{
    color: var(--color);
    font-size: 14px !important;
}
.Header-nav__controler__links--dropdown__body__link{
    text-decoration: underline;
    padding: 2px 0;
    
}
.Header-nav__controler__links--dropdown__body__link:hover{
    text-decoration:none;
}





.Header-nav__controler__links--dropdown__body__img{
    width: 46px;
    height: 46px;
    border-radius: 6px ;
    object-fit: cover;
}
.Header-nav__controler__links--dropdown__body__link--cart{
    color: var(--color);
    will-change: color;
    transition: color 300ms ease-in-out;
    fill: var(--gray-color);
    will-change: fill;
    transition: fill 300ms ease-in-out;
}
.Header-nav__controler__links--dropdown__body__link--cart:hover{
    
    color: var(--green-color);
    fill: var(--green-color);
}
.Header-nav__controler__links--dropdown__body__price{
    font-size: 14px;
    font-weight: 500;
}
/* Header-nav__controler__links */

.Header-nav__controler_btn{
    position: relative;
    width: 24px;
    height: 20px;
    overflow: hidden;
    /* background-color: aqua; */
}
.Header-nav__controler_btn span{
    transition: all 300ms ease-in-out;
    right: 0;
    position: absolute;
    height: 2px;
    background-color: var(--gray-color);
}

.Header-nav__controler_btn:hover span{
    background-color: var(--green-color) !important;
}


.Header-nav__controler_btn--active span:nth-child(1){
    transform: rotate(-45deg) translate(-5px,9px);
    width: 125% !important;
    background-color: var(--green-color);
}
.Header-nav__controler_btn--active span:nth-child(2){
    opacity: 0;
    transform: translateX(10px) !important;
}
.Header-nav__controler_btn--active span:nth-child(3){
    transform: rotate(45deg) translate(-2px,-9px) !important;
    width: 125% !important;
    background-color: var(--green-color);
}