.balance-modal__dropdown {
    background: url("https://volna.volkovdesign.com/img/arrow2.svg") no-repeat center right 20px #222227;
    height: 44px;
    background-size: 18px auto;
    will-change: border;
    border: 1px solid transparent;
    outline: none;
    transition: ease-in .2s border;
}

.balance-modal__dropdown {
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    appearance: none;
    display: none;
}

.balance-modal__dropdown:focus {
    border-color: var(--green-color);
}

.balance-modal__ratio__label {
    font-weight: 300;
    cursor: pointer;
    color: var(--gray-color);
}

.balance-modal__ratio {
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    appearance: none;
    border-radius: 100%;
    width: 1.2rem;
    height: 1.2rem;
    position: relative;
    background: #222227;
    will-change: auto;
    transition: all ease-in .3s;
    cursor: pointer;
}

.balance-modal__ratio:before {
    content: '';
    display: block;
    width: .5rem;
    height: .5rem;
    position: absolute;
    top: .31rem;
    left: .35rem;
    border-radius: 100%;
    background: #16151a;
}

.balance-modal__ratio:checked {
    background: var(--green-color);
}

.balance-modal__button {
    font-size: 14px;
    height: 50px;
    will-change: background-color;
    transition: background-color ease-in .3s;
    background-color: var(--green-color);
    text-transform: uppercase;
}

.balance-modal__button:hover {
    background-color: var(--black-color);
}
