.forget-password__checked__box{
    width: 22px;
    aspect-ratio: 1/1;
    background-color: var(--border-color);
    border-radius: 6px;
    
}
.forget-password__checked__box__tik{
    fill: var(--green-color);
    width: 14px;
    aspect-ratio: 1/1;
    transition: scale 300ms ease-in-out;
}
.forget-password__card__check input:checked ~ .forget-password__checked__box>.forget-password__checked__box__tik{
    scale: 0;
}